# Project name
COMPOSE_PROJECT_NAME=analytics-service

NODE_ENV=develop

NAME=Analytics Service

PORT=3001

# ---------------- Database ------------------------
# PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=123456
DATABASE_NAME=analytics_db
